

/* 슬라이드 효과 css */
.slide_wrap { position: relative; width: 400px; margin: auto; padding-bottom: 30px; }
.slide_box { width: 100%; margin: auto; overflow-x: hidden; }
.slide_content { display: table; float: left; width: 400px; height: 400px; }
.slide_content > p { display: table-cell; vertical-align: middle; text-align: center; font-size: 100px; font-weight: bold; color: #555; }
.slide_content.slide { display:table-cell; vertical-align:middle; }
.slide_btn_box > button { position: absolute; top: 50%; margin-top: -45px; width: 60px; height: 60px; font-size: 16px; color: #999; background: none; border: 1px solid #ddd; cursor: pointer; }
.slide_btn_box > .slide_btn_prev { left: -100px; }
.slide_btn_box > .slide_btn_next { right: -100px; }
.slide_pagination { position: absolute; left: 50%; bottom: 0; list-style: none; margin: 0; padding: 0; transform: translateX(-50%); }
.slide_pagination .dot { display: inline-block; width: 15px; height: 15px; margin: 0 5px; overflow: hidden; background: #ddd; border-radius: 50%; transition: 0.3s; }
.slide_pagination .dot.dot_active { background: #333; }
.slide_pagination .dot a { display: block; width: 100%; height: 100%; }